COMPOSE_PROFILES=dev

PGADMIN_DEFAULT_EMAIL=afnanabdulhamed@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=station_transfers
